// screen size
$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// size of the stars

$width: 300px;
$height: 300px;

// color

$white: #ffffff;
$backgroundColor: #e6e9fb;
$black: #374151;
