// screen size
$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// size of the stars

$width: 90px;
$height: 100px;

// background

$backgroundWidth: 100vw;
$backgroundHeight: 100vh;

// color

$white: #ffffff;
$backgroundColor: #e6e9fb;
$black: #374151;

// flex

@mixin flexCenter($column, $gap) {
  display: flex;
  flex-direction: $column;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

.homepage-container {
  background-color: $backgroundColor;
  width: $backgroundWidth;
  height: $backgroundHeight;
  @include flexCenter(row, 0px);
}
